body {
  font-family: Helvetica;
}

body::-webkit-scrollbar {
  display: none;
}

.app {
  display: flex;
  align-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.row {

  .msgs-list{
    overflow-y: scroll;
  }


  .channels {
    background-color: yellow;
    height: 100vh;

  }

}

div.msg {
  border: 3px solid white;
  margin: 5px;
  border-radius: 5px;
  color: #ffddff
}

div.msg-panel {
  padding: 0;

  div.form {
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }
}
